DATABASE_URL=postgresql://postgres.uqobyzjzmnvjjczclgoi:Iddy%402005%2F2026@aws-1-eu-west-1.pooler.supabase.com:5432/postgres
SUPABASE_URL=https://uqobyzjzmnvjjczclgoi.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVxb2J5emp6bW52ampjemNsZ29pIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk1NDkxOTUsImV4cCI6MjEwNTEyNTE5NX0.bYTYsy5ctBr9ku_yPWJB24w41hE2rmhHgnNU8wQwhGc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVxb2J5emp6bW52ampjemNsZ29pIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTU0OTE5NSwiZXhwIjoyMTA1MTI1MTk1fQ.jUwrEOirvxAhoqxYiJraahP17Gn8hXI7M99btE3e3FU
